@model BeFit.Models.BeFit.PerformedExercise

@{
    ViewData["Title"] = "Usuń wykonane ćwiczenie";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć to wykonane ćwiczenie?</h3>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Sesja
        </dt>
        <dd class="col-sm-9">
            @Model.TrainingSession?.Start.ToString("g")
        </dd>

        <dt class="col-sm-3">
            Ćwiczenie
        </dt>
        <dd class="col-sm-9">
            @Model.ExerciseType?.Name
        </dd>

        <dt class="col-sm-3">
            Serie
        </dt>
        <dd class="col-sm-9">
            @Model.Sets
        </dd>

        <dt class="col-sm-3">
            Powtórzenia w serii
        </dt>
        <dd class="col-sm-9">
            @Model.RepsPerSet
        </dd>

        <dt class="col-sm-3">
            Obciążenie
        </dt>
        <dd class="col-sm-9">
            @Model.Load
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
